# Copie para application-local.yml (arquivo ignorado no git) e ajuste.
# Rode com: mvn spring-boot:run -Dspring-boot.run.profiles=local

spring:
  datasource:
    username: admin
    password: admin

aws:
  endpoint: http://localhost:4566
  sns:
    topic:
      product:
        events:
          arn: arn:aws:sns:us-east-1:000000000000:product-events
